*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    background: #2159f3;;
}

h1 {
    color: antiquewhite;
    font-weight: 300;
    text-align: center;
}

h2 {
    color: antiquewhite;
    font-weight: 200;
    text-align: center;  
    margin-right: 30%;
    padding-top: 40px;
}

h3{
    color: antiquewhite;
    font-weight: 100;
}

#container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#links {
    margin-left: 5%;
    margin-right: 5%;
}

#samplepic {
    width: 200px;
    display:block;
    margin-left: 30%;
    margin-top: 20px;
}

#quote {
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
}

#description{
    color:antiquewhite;
    text-align: center;
}

#aboutproj {
    color:antiquewhite;
    margin-left: 100px;
}

.wrapper {
    background: #6989f3c4;
    max-width: 85%;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 15px;
    position: relative;    border: 2px solid #4b6bd3c4;
}

#youtube {
    margin-left: 100px;
}

#aboutme {
    color: antiquewhite;
}
