*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    /* background: #102542; */
    background: #06D6A0;
}

h1 {
    color: #FCFCFC;
    /* font-weight: 300; */
    text-align: center;
}

h2 {
    /* color: #F6F4F3; */
    font-weight: 200;
    text-align: center;  
    /* margin-right: 30%; */
    padding-top: 40px;
}

h3{
    font-weight: 100;
}

/* #container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} */

#links {
     /* margin-left: 5%;  */
     /* margin-right: 5%;  */
     /* border: 1px solid black; */
     flex:1;
     max-width: 15%;
     display: flex;
     justify-content: space-evenly;
} 

nav {
    display:flex;
    justify-content: center;
    /* background-color: #EF3E36; */
    background-color: #FFD166;
}

#samplepic {
    width: 200px;
    /* display:inline; */
    margin-top: 20px;
}

#quote {
    color: #FCFCFC;
    font-weight: bold;
    text-align: center;
}

#description{
    /* color:antiquewhite; */
    text-align: center;
}

#aboutproj {
    /* color:#F6F4F3; */
    /* display: inline; */
    font-size: 85%;
}

.wrapper {
    background: #FCFCFC;
    max-width: 85%;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 30px;
    /* position: relative;     */
    /* border: 2px solid #2583D0; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    margin-left: 25%;
    border: 1px solid rgb(151, 185, 212);
    background: #AFFDE8;
    border-radius: 25px;
    color: white;
    font-weight: 600;
}

button a {
    color: rgb(67, 69, 73);
}

#aboutme {
    font-size: 85%;
}



@media (max-width: 768px) {
    h1 {
        font-weight: 100;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    td {
        display: flex;
    }
    .wrapper {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
}

@media (max-width: 576px) {
    h1 {
        font-weight: 10;
    }
}
